$primary-main: #2196F3;
$primary-dark: #0069c0;
$primary-light: #6ec6ff;

$secondary-main: #ef5350;
$secondary-dark: #b61827;
$secondary-light: #ff867c;

// NOTE: max-widthで使う各デバイス上限のbreakpoint。
$breakpoint-sm: 414px;
$breakpoint-md: 834px;
