.about_profile {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about_step {
  color: #fff;
  text-align: center;
}
@media (max-width: var(--breakpoint-md)) {
  .about_step {
    padding: 0 1rem;
  }
}
.about_step__bar {
  display: block;
  width: 3px;
  height: 80px;
  background-color: var(--primary-light);
  margin: auto;
}
@media (max-width: var(--breakpoint-sm)) {
  .about_step__bar {
    height: 50px;
  }
}
.about_step__content {
  border-radius: 1rem;
  background-color: var(--primary-main);
  overflow: hidden;
}
.about_step__header {
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--primary-dark);
  padding: 1.5rem 2rem;
}
.about_step__date {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.about_step__description {
  display: inline-block;
  text-align: left;
  white-space: pre-line;
  padding: 2.5rem 3.5rem;
}
@media (max-width: var(--breakpoint-sm)) {
  .about_step__description {
    padding: 1rem 1.4rem;
  }
}
