.clipboard {
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.clipboard__pins {
  display: flex;
  justify-content: space-between;
}
.clipboard__pins--left {
  position: relative;
  transform-origin: top;
  transform: rotate(-20deg);
  width: 1px;
  height: 10px;
  background-color: #444;
}
.clipboard__pins--right {
  position: relative;
  transform-origin: top;
  transform: rotate(20deg);
  width: 1px;
  height: 10px;
  background-color: #444;
}
.clipboard__pins--right::before, .clipboard__pins--left::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 100vh;
  background-color: var(--secondary-main);
  box-shadow: -5px 5px 10px #827d7d;
}
.clipboard__pins--right::after, .clipboard__pins--left::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100vh;
  filter: blur(0.3px);
  background-color: #fff;
}
.clipboard__contents {
  font-family: "New Tegomin";
  font-weight: 550;
  padding: 1.25rem;
}
.clipboard__note {
  line-height: 31px;
  overflow-wrap: break-word;
  background-image: repeating-linear-gradient(#fff, #fff 30px, var(--primary-main) 31px);
  border-top: solid 1.5px var(--primary-dark);
  padding: 0 0.5rem;
}
.clipboard__title {
  font-size: 2rem;
  padding: 0.5rem;
}

