.header {
  border-bottom: 1px solid var(--basics-borderGray);
  padding: 2rem 1.75rem;
}
@media (max-width: 414px) {
  .header {
    padding: 1.75rem 1.25rem;
  }
}

.header__contents {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link {
  text-decoration: none;
  padding: 0 0.75rem;
}
.header__link--current {
  font-weight: bold;
}
@media (max-width: 414px) {
  .header__link {
    padding: 0 0.5rem;
  }
}
