.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196F3 ;
  color: #fff;
  padding: 2rem 3rem;
}
.header__title {
  font-weight: bold;
  font-size: 1.5rem;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__link {
  text-decoration: none;
  padding: 0 0.75rem;
}
