.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout__container {
  position: relative;
  flex-grow: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.55) 0%, #fff 45vh);
  overflow: hidden;
}
.layout__container::before {
  content: '';
  position: absolute;
  inset: 0px;
  background: center -72.5vh/100vw auto no-repeat url('/mainBackGround.jpg');
  filter: blur(8px);
  z-index: -1;
}
@media (max-width: 834px) {
  .layout__container::before {
    background-position: center -30vh;
  }
}
@media (max-width: 414px) {
  .layout__container::before {
    background-position: center top;
  }
}

.layout__icon {
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;
}
