html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  overflow: hidden auto;
}

:root {
  --primary-main: #2196F3;
  --primary-dark: #0069c0;
  --primary-light: #6ec6ff;

  --secondary-main: #ef5350;
  --secondary-dark: #b61827;
  --secondary-light: #ff867c;

 /* NOTE: max-widthで使う各デバイス上限のbreakpoint。 */
  --breakpoint-sm: 414px;
  --breakpoint-md: 834px;
}
